
<div class="row">
        <app-home-section-client class="de"></app-home-section-client>        
        <router-outlet></router-outlet>
</div>

<ul id="slide-out" class="side-nav" >
        <li style="text-align: center"><a href="#!"><strong>NAVEGAÇÃO</strong></a></li>
        <li><a href="/"><i class="material-icons">home</i>Home</a></li>
        <li><a href="/postagens"><i class="material-icons">border_color</i>Postagens</a></li>
        <li><a href="/contatos"><i class="material-icons">contacts</i>Contato</a></li>
        <li><a href="/portfolio"><i class="material-icons">work</i>Portfólio</a></li>
</ul>

