.img-title{
    width: 35%;
    margin-left: auto;
	margin-right: auto;
    display: block;
    border: solid #ffffff 2px;

}
.sec{
    width:100%;
    height: 100%;
    position: fixed;
    z-index: 900;
    display: block;
    width: 24.5rem;
    background-image: url('/assets/fotos/wal.jpg');
    background-size: 200% 100%;
    background-repeat: no-repeat;
}
.sec1{
    display: block;
    border: solid 4px red;
    float: right;
    width:100%;
    height: 100%;
    background-image: url('/assets/fotos/wal.jpg');
    background-size: 200% 100%;
    background-repeat: no-repeat;
    position: relative;

}
.title{
    padding: 0px;
    margin: 15px;
    color: white;
    font-size: 170%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
.frase{
    padding: 0px;
    margin: 15px;
    color: white;
    font-size: 110%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.r{ 
    border: 0;
    height: 1px;
    width: 65%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(211, 207, 207), rgba(0, 0, 0, 0));
  }
.lista, li, a{
    transition-duration: 0.8s;
    color: white;
    padding-top: 7%;
}
.lista, li, a:hover{
    transition-duration: 0.8s;
    color: #66c6ff;
}
#menu ul {
    padding:0px;
    margin:0px;
    list-style:none;
    font-size: 120%;
    color: white;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 4%;
}
#menu ul li { display: line; }

#menu2 ul li{
    display: inline;

    text-align: center;
} 
#menu2 ul li{
    font-size: 200%;
    text-align: center;
    padding-left: 10%;
}  


@media (max-width: 480px) { 
    #menu{
        display: none;
       
    } 

    #menu2 ul li{
        font-size: 250%;
        text-align: center;
        margin-left: -9px;
    } 

    .frase{
        padding: 0px;
        margin: 15px;
        color: white;
        font-size: 120%;
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
        line-height: 2;
    }

    .title{
        padding: 0px;
        margin: 15px;
        color: white;
        font-size: 180%;
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
    }
}
/* Telefones em paisagem a tablet em retrato */
@media (max-width: 767px) {
    
}

/* Tablet em retrato a paisagem e desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .img-title{
        margin-top: 5%;
        width: 20%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        border: solid #ffffff 2px;
    
    }
    #menu2{
        margin-left: 18%;
    }

    #menu2 ul li{
        font-size: 300%;

    }

    

    .frase{
        padding: 0px;
        margin: 15px;
        color: white;
        font-size: 150%;
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
    }
    .title{
        padding: 0px;
        margin: 15px;
        color: white;
        font-size: 250%;
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
    }

    #menu ul {
        padding:0px;
        margin:0px;
        list-style:none;
        font-size: 150%;
        color: white;
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
        padding-bottom: 4%;
    }
}

/* Desktop grande */
@media (min-width: 1200px) {
    
}



@font-face {
    font-family: t;
    src: url('/assets/fonts/AlteHaasGroteskBold.ttf');
}
@font-face {
    font-family: tw;
    src: url('/assets/fonts/AlteHaasGroteskRegular.ttf');
}