<div class="col l4 s12 sec">
        <nav class="ta">
                <div class="nav-wrapper z-depth-0">
                        <a href="#" data-activates="slide-out" class="button-collapse taaa"><i class="material-icons">menu</i></a>
                </div>
        </nav>
<div class="row">
   
    <div class="col l12">
        <img class="circle responsive-img img-title" src="https://scontent.ffor11-1.fna.fbcdn.net/v/t1.0-9/23755607_997944277024780_9188075355815545772_n.jpg?oh=53d2c6667d535ec2bfe3e5c7f00fe7a4&oe=5AEDB582">
        <h1 class="title">Geovane Cavalcante</h1>
        <hr class="r">
        <p class="frase">Não tenho medo de compartilhar conhecimentos. 
                Essa é a unica coisa que as pessoas não poderão roubar de mim.
        </p>
    </div>   
   <div class=row>
       <div class="col l4 s1"></div>
       <div class="col l4 s10" id="menu">
            <hr class="r">
            <ul class="lista">
                <li><a href="/postagens">Postagens</a></li>
                <li><a href="">Sobre</a></li>
                <li><a href="">Contatos</a></li>
                <li><a href="">Portfólio</a></li>
            </ul> 
       </div>
   </div>

   <hr class="r">
    <div class="row">
        <div class="col l2 s2"></div>
        <div class="col l9 s10" id="menu2">
                <ul class="list">
                    <li><a class="list-a" href=""><i class="fa fa-facebook-square " aria-hidden="true"></i></a></li>
                    <li><a class="list-a" href=""><i class="fa fa-github-square " aria-hidden="true"></i></a></li>
                    <li><a class="list-a" href=""> <i class="fa fa-linkedin-square " aria-hidden="true"></i></a></li>
                    <li><a class="list-a" href=""><i class="fa fa-twitter-square " aria-hidden="true"></i></a></li>
                </ul> 
        </div>
    </div>
</div>
</div> 