<div class="row" style="padding-left: 5%; padding-right: 5%;">
  <h5 class="title1"><strong>Mande sua mensagem <i class="fa fa-commenting-o" aria-hidden="true"></i></strong></h5>
  <form>
      <div class="row">
          <div class="input-field col s6">
              <input id="last_name" type="text" class="validate">
              <label for="last_name">Seu Nome <i class="fa fa-user-o" aria-hidden="true"></i></label>
          </div>
          <div class="input-field col s6">
              <input id="last_name" type="text" class="validate">
              <label for="last_name">E-mail <i class="fa fa-envelope-o " aria-hidden="true"></i></label>
          </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Mensagem <i class="fa fa-align-justify" aria-hidden="true"></i></label>
          </div>
      </div>
      <div style="padding-left: 1%;">
          <button style="background: #5374e2" class="btn  waves-effect waves-light" type="submit" name="action">Enviar
              <i class="material-icons right">send</i>
            </button>
      </div>

    </form>
   
</div>