<div class="col l8 s12 sec1">
  <nav class="ta na">
      <div class="nav-wrapper z-depth-0">
          <a style="color: red" href="#" data-activates="slide-out" class="button-collapse taaa"><i class="material-icons">menu</i></a>
      </div>
  </nav>
  <div class="row">
    <div class="col col s12 m12 l12" style="padding-left: 7%; padding-right: 7%;">
      <h3 class="title1"><strong>Entre em <i class="fa fa-contao" aria-hidden="true"></i>ontato </strong></h3>
      <br>
      <p><strong><i class="fa fa-home" aria-hidden="true"></i>   &nbsp; &nbsp;Brasil, Imperatriz Maranhão </strong></p>
      <p><strong><i class="fa fa-envelope-o" aria-hidden="true"></i>   &nbsp; &nbsp;geovanefeitosacavalcante@gmail.com </strong></p>
      <p><strong><i class="fa fa-mobile" aria-hidden="true"></i>   &nbsp; &nbsp;+55 (99) 98409-8471 </strong></p>
    </div>
  </div>
  <br>
  <app-contact></app-contact>
</div>
