<div class="col l8 s12 sec1">
  <nav class="ta na">
      <div class="nav-wrapper z-depth-0">
          <a style="color: red" href="#" data-activates="slide-out" class="button-collapse taaa"><i class="material-icons">menu</i></a>
      </div>
  </nav>
  <div class="row " style="padding-bottom: 0px">
      <div class="col s12">
          <h3 class="title"><a href="" class="si" style="background:#5374e2;"><strong><i style=" font-size: 40px" class="material-icons left">arrow_back</i></strong></a><strong>Todas Postagens</strong></h3>
      </div>        
  </div>
  <div class="row">
      <div class="col l8"></div>
      <form class="col l4">
          <div class="row">
              <div class="input-field col l12">
                  <input id="email" type="email" class="validate">
                  <label for="email" data-error="wrong" data-success="right">Pesquisar&nbsp; <i class="fa fa-search " aria-hidden="true"></i></label>
              </div>
          </div>
      </form>
  </div>
  <div class="row divpost">
    <pre>
        <code highlight [textContent]="code" (highlighted)="onHighlight($event)"></code>
    </pre>
  </div>
</div>
