<div class="col l8 s12 sec1">
  <nav class="ta na">
      <div class="nav-wrapper z-depth-0">
          <a style="color: red" href="#" data-activates="slide-out" class="button-collapse taaa"><i class="material-icons">menu</i></a>
      </div>
  </nav>
  <div class="row divSpace">
    <div class="col col s12 m12 l12">
      <h4 class="title1"><strong>Formação <i class="fa fa-graduation-cap" aria-hidden="true"></i></strong></h4>
      <p class="textSkill">
          Sou bacharelando em Sistemas de informação na DeVry/Facimp, amante da tecnologia, 
          especialmente na área de desenvolvimento de software. 
          Afinidades com Python, PHP e JS e entusiasta no movimento de software livre.
          Desenvolvedor de software há 1 ano. Trabalhos de monitoria e mentoria na univerdidade DeVry/Facimp, como professor de informática na INFRAERO. Prestação de serviço para Lucena Máquinas, Seges Gestão. Equipe DeepWeek.
        </p>
    </div>
  </div>
  <br>
  <h5 class="title1"><strong>Habilidades e Conhecimentos</strong></h5>
  <div class="row divH">
      <div class="col l5" >
          <h3 class="titleSkill"><strong><i class="fab fa-python" style="color: #1748e8"></i> </strong></h3>
          <p class="textSkill"><strong>Mobile</strong>. Desenvolvimento de aplicações híbridas com Ionic 3. Layouts construídos com boas práticas, integração com serviços, APIs e mídias sociais. Nível de conhecimento intermediário, com experiência de 6 meses. </p>
      </div>
      <div class="col l1"></div>
      <div class="col l5">
        <h3 class="titleSkill"><strong><i class="fab fa-php" aria-hidden="true" style="color: #1748e8"></i></strong></h3>
        <p class="textSkill"><strong>Angular</strong>. Conhecimento pleno no Framework, além de também conhecer os novos padrões da WEB. Construção de plataformas baseados em SPA e WebComponents. Onde esse mesmo site é feito na plataforma.</p>
      </div>
      <div class="col l5">
        <h3 class="titleSkill"><strong><i class="fa fa-html5" aria-hidden="true" style="color: #ef5715"></i> <i class="fab fa-css3-alt" aria-hidden="true" style="color: #1c76ff"></i>  <i class="fab fa-js" aria-hidden="true" style="color: #f0f945"></i></strong></h3>
        <p class="textSkill"><strong>Frontend</strong>. Conhecimento pleno com esse trio maravilhoso. Experiência de 1 ano. Construção de layouts responsivos em vários segmentos WEB, ultilizando as melhores práticas de usabilidade para o usuário</p>
      </div>
      <div class="col l1"></div>
      <div class="col l5">
          <h3 class="titleSkill"><strong><i class="fab fa-angular" aria-hidden="true" style="color: #e8172c"></i></strong></h3>
          <p class="textSkill"><strong>Angular</strong>. Conhecimento pleno no Framework, além de também conhecer os novos padrões da WEB. Construção de plataformas baseados em SPA e WebComponents. Onde esse mesmo site é feito na plataforma.</p>
        </div>
      <div class="col l5" >
        <h3 class="titleSkill"><strong><i class="fa fa-mobile"></i> </strong></h3>
        <p class="textSkill"><strong>Mobile</strong>. Desenvolvimento de aplicações híbridas com Ionic 3. Layouts construídos com boas práticas, integração com serviços, APIs e mídias sociais. Nível de conhecimento intermediário, com experiência de 6 meses. </p>
      </div>
      <div class="col l1"></div>
      <div class="col l5" >
          <h3 class="titleSkill"><strong><i class="fas fa-database" style="color: #1748e8"></i> </strong></h3>
          <p class="textSkill"><strong>Mobile</strong>. Desenvolvimento de aplicações híbridas com Ionic 3. Layouts construídos com boas práticas, integração com serviços, APIs e mídias sociais. Nível de conhecimento intermediário, com experiência de 6 meses. </p>
      </div>
      <div class="col l5" >
          <h3 class="titleSkill"><strong><i class="fab fa-linux"></i> </strong></h3>
          <p class="textSkill"><strong>Linux</strong>. Entre tapas e beijos, sou usuário do OS há 1 e meio, conhecimentos básico/intermediário, ultilizo para desenvolvimento de software, e uso pessoal. Além de apioar o movimento Open Source.</p>
      </div>
      <div class="col l1"></div>
      <div class="col l5">
        <h3 class="titleSkill"><strong><i class="fab fa-git-square" aria-hidden="true" style="color: #1748e8"></i></strong></h3>
        <p class="textSkill"><strong>Angular</strong>. Conhecimento pleno no Framework, além de também conhecer os novos padrões da WEB. Construção de plataformas baseados em SPA e WebComponents. Onde esse mesmo site é feito na plataforma.</p>
      </div>
  </div>
  <br>
  <app-contact></app-contact>
</div>
